In [ ]:
Using the meteorite data from the Meteorite_Landings.csv file, update the year column to only contain the year, convert it to a numeric data type,
and create a new column indicating whether the meteorite was observed falling before 1970. Set the index to the id column and extract all the rows,
with IDs between 10,036 and 10,040(inclusive) with loc[].

Hint 1: Use year.str.slice() to grab a substring
Hint 2: Make sure to sort the index before using loc[] to select the range

Bonus: Theres a data entry error in the year column. Can you find it?

In [3]:
import pandas as pd

data = pd.read_csv("Meteorite_Landings.csv")

# Update the year column to only contain the year
data.year.str.slice()
print(data.head(5))

# Convert it to a numeric data type



# Create a new column, indicating whether the meteorite was observed falling before 1970
data.insert(0, "pre_1970", bool)

# Set the index to the id column
data = data.sort_values('id', ascending = False)
data = data.set_index('id')

# Extract all the rows with IDs between 10,036 and 10,040 with loc
#print(data.loc[])

       name   id nametype     recclass  mass (g)  fall  \
0    Aachen    1    Valid           L5      21.0  Fell
1    Aarhus    2    Valid           H6     720.0  Fell
2      Abee    6    Valid          EH4  107000.0  Fell
3  Acapulco   10    Valid  Acapulcoite    1914.0  Fell
4   Achiras  370    Valid           L6     780.0  Fell

                     year    reclat    reclong           GeoLocation
0  01/01/1880 12:00:00 AM  50.77500    6.08333     (50.775, 6.08333)
1  01/01/1951 12:00:00 AM  56.18333   10.23333  (56.18333, 10.23333)
2  01/01/1952 12:00:00 AM  54.21667 -113.00000    (54.21667, -113.0)
3  01/01/1976 12:00:00 AM  16.88333  -99.90000     (16.88333, -99.9)
4  01/01/1902 12:00:00 AM -33.16667  -64.95000   (-33.16667, -64.95)